.background{
  background-image: url('../background.png'); /* path relative to the CSS file */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.header h1{
    color: white;   
  
}
.center{
    display: flex;
    flex-direction: column;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
   height: 100vh;            /* full height of viewport */
  /* width: 100vw;              */
  /* background-color: #f0f0f0; */
}
/* .header{
    width:50%;  
} */
.login-form{
  display: flex;
  flex-direction: column;
}